html {
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'cv11', 'ss01';
	font-variation-settings: 'opsz' 850;
}

* {
	box-sizing: border-box;
	transition: var(--transition-fast);
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-main);
	line-height: 1.6;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
ul,
ol {
	margin: 0 0 1.5rem 0;
}

p {
	line-height: 1.7;
}

/* Tap highlight removal */
button,
input,
select,
textarea {
	-webkit-tap-highlight-color: transparent;
}

/* Scrollbars */
::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb);
	border-radius: 100px;
	transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scroll-thumb-hover);
}
