:root {
	/* Fonts */
	--font-rubik: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	--font-monton: 'Monoton', system-ui, sans-serif;
	--font-knewave: 'Knewave', 'Geist';
	--font-bubblegum: 'Bubblegum Sans', 'Geist';
	--font-comic-relief: 'Comic Relief', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	--font-jolly: 'Jolly Lodger', 'Comic Relief', cursive;
	--font-righteous: 'Righteous', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	--font-quicksand: 'Quicksand', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
	--font-main: var(--font-quicksand);

	/* Theme */
	--fc-bg: #ffffff;
	--fc-text: #111827;
	--fc-muted: #f3f4f6;
	--fc-border: #e6e7ea;
	--fc-surface: #ffffff;

	--fc-accent: #52525b;
	--fc-accent-press: #3f3f46;
	--fc-ring: rgba(82, 82, 91, 0.12);

	/* scroll */
	--scroll-thumb: rgba(0, 0, 0, 0.096);
	--scroll-thumb-hover: rgba(0, 0, 0, 0.22);

	/* motion */
	--transition: all 0.16s cubic-bezier(0.4, 0, 0.2, 1);
	--transition-fast: all 0.08s cubic-bezier(0.4, 0, 0.2, 1);
}
:root.dark {
	--fc-bg: #18181b;
	--fc-text: #e6e6e6;
	--fc-muted: #0f1113;
	--fc-border: #27272a;
	--fc-surface: #121214;

	--fc-accent: #a1a1aa;
	--fc-accent-press: #7c7c86;
	--fc-ring: rgba(161, 161, 170, 0.12);

	--scroll-thumb: rgba(255, 255, 255, 0.06);
	--scroll-thumb-hover: rgba(255, 255, 255, 0.14);
}

.font-knewave {
	font-family: var(--font-knewave);
}

.font-jolly {
	font-family: var(--font-jolly);
}

.font-comic {
	font-family: var(--font-comic-relief);
}

.font-righteous {
	font-family: var(--font-righteous);
}

.font-quicksand {
	font-family: var(--font-quicksand);
}

.font-bubblegum {
	font-family: var(--font-bubblegum);
}

.font-monton {
	font-family: var(--font-monton);
}
